<div id=":12t" class="a3s" style="overflow: hidden;">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <table  border="0" cellpadding="0" cellspacing="0" height="auto" width="100%">
      <tbody>
         <tr>
            <td>
               <table align="center"  border="0" cellpadding="0" cellspacing="0" height="68" width="700">
                  <tbody>
                     <tr height="20">
                        <td width="150"></td>
                        <td width="548">&nbsp;</td>
                     </tr>
                     <tr>
                        <td height="32" valign="bottom" width="150"><a href="http://5labs.com/" target="_blank"><img src="http://5labs.com/wp-content/uploads/2012/10/logo-web-493.png" style="vertical-align:bottom" alt="5labs.com" border="0" height="40" width="160" class="CToWUd"></a></td>
                        <td style="color:#ccc" align="right" height="32" valign="bottom" width="548">
                     </tr>
                     <tr height="11">
                        <td width="150">&nbsp;</td>
                        <td width="548">&nbsp;</td>
                     </tr>
                  </tbody>
               </table>
               <table style="border:1px solid #ddd;background:#fff" align="center" border="0" cellpadding="0" cellspacing="0" width="700">
                  <tbody>
                     <tr>
                        <td height="20">&nbsp;</td>
                     </tr>
                     <tr>
                        <td>
                           <table align="center" border="0" cellpadding="0" cellspacing="0" width="620">
                              <tbody>
                                 <tr>
                                    <td colspan="2" height="20"></td>
                                 </tr>
                                 <tr>
                                    <td colspan="2" style="font-size:24px;height:50px;color:#A901DB;font-family:arial" valign="top">Welcome</span> to MyFuelCloud!</td>
                                 </tr>
                                 <tr>
                                    <td colspan="2" style="font-size:18px;line-height:40px;color:#666;font-family:arial">Dear <span style="font-weight:bold"><%= name %></span>,</td>
                                 </tr>
                                 <tr>
                                    <td colspan="2" style="line-height:18px;font-size:12px;color:#666;font-family:arial">

                                       We're glad you found us!
                                       <p>Welcome to myFuelCloud. Here are a few things we love (and hope you love to):</p>
                                       <ol type="1">
                                          <li>We're 100% funded by our customers. We <3 you guys.</li>
                                          <li>This is an <a href="https://github.com/breogangf/myFuelCloud/">opensource</a> project, you can help make this app even better!</li>
                                          <li>We make lots of cool stuff, you can take a look at <a href="http://5labs.com/">5labs.com</a></li>
                                       </ol><br>We're happy to have you onboard and we'd love to hear from you!<br><br>
                                       <h2>Happy fueling!</h2>

                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           <table align="center" border="0" cellpadding="0" cellspacing="0" height="100" width="620">
                              <tbody>
                                 <tr>
                                    <td style="line-height:18px;font-size:12px;color:#666;font-family:arial" width="550">Sincerely,<br>
                                    Breogán González</td>
                                    <td><img src="http://www.iconsdownload.net/icons/256/14679-fuel-service-icon.png" alt="" height="100" width="70" class="CToWUd"></td>
                                 </tr>
                              </tbody>

                           </table>
                        </td>
                     </tr>
                  </tbody>
               </table>
               
            </td>
         </tr>
      </tbody>
   </table>
   
</div>